body {
    background-color: rgb(248, 5, 216);
  }
  
  h1 {
    color: rgb(15, 212, 242);
    text-align: center;
  }
  
  p {
    font-family: courier;
    font-size: 35px;
  }
  ul
  a:link, a:visited {
    background-color:white;
    color: rgb(13, 240, 85);
    padding: 15px 25px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  
  a:hover, a:active {
    background-color:rgb(219, 17, 17);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 27, 223);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(245, 241, 16);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(30, 250, 6);
  }
  
  .active {
    background-color: #fa04e5;
  }
